.productList{
    flex: 4;
}

.productList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.productListImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.productListDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.productListActions {
    display: flex;
    align-items: center;
}

.productListEdit,
.productListDelete {
    margin-left: 10px;
    cursor: pointer;
}

.productListEdit {
    color: green;
}

.productListDelete {
    color: red;
}

.productListHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.productListHeader input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.productListCreate {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}